node_modules
.next
.worktrees
.envs
*.env*
.env
.env.local
.env.development
.env.production
npm-debug.log*
pnpm-debug.log*
.DS_Store
.git
.gitignore
README.md
CONTRIBUTING.md
CHANGELOG.md
docs
e2e
*.spec.ts
vitest.config.ts
playwright.config.ts
